.button1{
	background-color: :red;
	text-align: left;
	margin: 10px 20px;
	background-color: #DEB887;
	border: none;
	color: #fff;
	padding: 5px 5px;
	display: inline-block;
	display: inline-block;
  	font-size: 20px;
}
.body{
	font-size: 150px;
	color: black;
}